
*{
    margin: 0;
    padding: 0;
    
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}


body{
    font-size: inherit;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.form{
    width: 80rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    justify-content: center;
    align-items: center;
}



.searchInput{
    outline: 1px solid rgb(219, 32, 173);
    padding: 0.6rem;
    margin-top: 6rem;
   text-align: center;
   border-radius: 0.5rem;
   font-size: 1.7rem;
   border: none;
   width: 80%;
   
}

.searchInput:focus{
    border: none;
    outline: 0.2rem solid teal;
}

button{
    text-align: center;
    margin-top: 3rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: none;
    outline: 0.1rem solid cornflowerblue;
    color: white;
    background-color: deepskyblue;
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 15%;
    
}

button:hover{
    
    background-color: rgb(4, 79, 104);
}


.dinamic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
   

    

}

.image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem dashed teal;
    margin: 1rem 1rem;
    padding-bottom: 0.8rem;

   
 
    
}

.image-wrapper >p{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
     
    

   
 
    
}
.img{
    height: 20rem;
    width: 20rem;
    margin: 5rem 1rem;

}